.header__nav{
	display: Flex;
	overflow: hidden;
	font-family: var(--playfair-display);
}
.header__logo{
	flex: 1;
	display: flex;
	position: relative;
	padding: 40px;
}
.header__menu {
 	 padding: 20px;
  	flex: 1.236;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	gap: 50px;
  	list-style: none;
}

.header__menu li a{
 	 font-weight: 700;
 	 color: var(--secondary-color);
 	 font-size: 16px;
 	 text-transform: uppercase;
	line-height: 20px;
 	text-decoration: none;
  	cursor: pointer;
}
.icons{
	display: flex;
	width:20%;
	align-items: center;
	justify-content: center;
	
	list-style: none;
}
.icons li{
	background-color: var(--primary-color-color);
	height: 8vh;
	width: 8vh;
	border:none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icons li a{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.icons li a img{
	color: white;
}
