.reviews{
	background-color: var(--secondary-color);
	display: flex;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	font-family: var(--playfair-display);
}
.reviews__container{
	background-color: var(--secondary-color);
	margin: 1.5rem;
}
.reviews__heading {
	background-color: var(--primary-color);
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.reviews__heading h1{
	font-size: 80px;
	font-weight: 600;
	color: var(--color-black);
}
.reviews__heading h1 span{
	color: var(--secondary-color);
}
.reviews__content{
	margin: 50px 0 0 0;
	display: flex;
	flex-direction: column;
}
.reviews__content h2{
	font-size: 30px;
	font-weight: 600;
	color: var(--color-black);
}
.reviews__content__reviews__container{
	margin: 50px 0 0 0;
	display: flex;
	flex-direction: row;
	gap: 3px;
	background-color: var(--primary-color);
	align-items: center;
}
.reviews__content__reviews__container__content{
	background-color: var(--secondary-color);
	min-width : 24.5%;
	height:55vh;
	display: flex;
	flex-direction: column;
	padding: 15px;
	gap: 1rem;
}
.reviews__content__reviews__stars{
	width: 55%;
	height: 10%;
	display: flex;
}
.reviews__content__reviews__poster{
	height:10vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.reviews__content__reviews__poster img{
	height: 100%;
	width: 22%;
	display: flex;
	flex-direction: row;
	border: solid white;
	border-radius: 100%;
}
.reviews__content__reviews__poster__details{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.reviews__content__reviews__container__content h4 span{
	color: var(--primary-color);
}
